<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "snfer", root_path, id: "logo" %>
      <div class="nav-collapse collapse">
        <form class="navbar-form pull-right">
          <!--<input type="email" class="input" placeholder="email" />-->
          <!--<input type="password" class="input" placeholder="password" />-->
          <!--<a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i>Sing-in/up</a>-->
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Your password">
          <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i> Sing-in/up</a>
        </form>
      </div>
    </div>
  </div>
</header>